body{
    background: linear-gradient(to right, rgb(5, 255, 109), rgb(0, 119, 255));
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: rgb(0, 4, 255);
    padding: 30px;
}
header h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
ul li{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
nav{
    text-align: center;
}